.contenedorExperienciaLaboral{
    padding-left: 48px;
}

/* --- MEDIA QUERIES --- */
/* Estilos para pantallas de tablets y móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
  .contenedorExperienciaLaboral {
    padding-left: 20px; /* Reduce el padding en móviles para que no quede tan pegado */
    padding-right: 20px;
  }
}