.contenedorSobreMi{
  padding-left: 48px;
}

.contentChamuyo{
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 8px;
  max-width: 800px;
}

.contenedorSobreMi p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.contenedorSobreMi p strong{
  font-weight: 700;
  color: #FFED5B;
}