/* Estilos para la versión de escritorio */
.contenedorSobreMi {
    padding-left: 48px;
}

.contentChamuyo {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 8px;
    max-width: 800px;
}

.contenedorSobreMi p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.contenedorSobreMi p strong {
    font-weight: 700;
    color: #FFED5B;
}

/* ------------------------------------------------------------------ */
/* --- MEDIA QUERIES --- */
/* Estilos para pantallas de tablets y móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
    .contenedorSobreMi {
        padding-left: 20px; /* Reduce el padding en móviles */
        padding-right: 20px;
    }

    .contentChamuyo {
        gap: 5px; /* Reduce el espacio entre párrafos */
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .contenedorSobreMi p {
        font-size: 16px; /* Reduce el tamaño de la fuente */
        text-align: justify; /* Alinea el texto para que se vea más ordenado */
    }
}