.navbar{
    position: fixed;
    width: 680px;
    height: 52px;
    /* left: 363px; */
    top: 25px;

    background: rgba(217, 217, 217, 0.69);
    border-radius: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  transition: transform 0.2s ease;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.navbar a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease, color 0.3s ease;
}