html{
  scroll-behavior: smooth;
  margin:0;
  padding: 0;
}
*{
  margin:0;
  padding:0;
}

.contenedorApp{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  height: 100%;

  background-color: rgba(113, 189, 118);
}